*/*/*/*/*.*
*/*/*/*.*
*/*/*.*
*/*.*
*.*

# Source Files
!/**/*.cpp
!/**/*.h

# Graphics Files
!/**/*.bmp
!/**/*.png
!/**/*.grit

# Audio Files
!/**/*.wav
!/**/*.it

# Other Files
!README.md
!icon.bmp
!Makefile

# Folders
bootloader/build
BootStrap/arm7/build
BootStrap/arm9/build
data
build
